* {
  box-sizing: border-box;

}

.container {
  width: 540px;
  margin: 0 auto;

}

.symbol {
  float: left;
  margin: 10px;
  height: 150px;
  width: 150px;
  background: #FFA97B;
  text-align: center;
}

.symbol:hover {
  cursor: pointer;
  border: 3px solid #6DE3CF;
}

.symbol p {
  font-size: 38px;
  color: #6DE3CF;
}
